body{
    --slack-color: #3f0f40;
    overflow: hidden;
}
.app__body{
    display: flex;
    height: 100vh;
}

.app__body h1{
    flex: 1; /* Expand to fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 50px;
}
